/*put font in font folder and reference here*/
@font-face{
  font-family:'';
  src:url('');
}

#big-left{
  left:-10px;
}
#big-right{
  margin-top:68px;
}
#map-wrap{
  background-color:#569CD4;
  border-radius:3px;
  padding:10px;
  margin-top:68px;
}
#map-canvas{
  height:312px!important;
}
#instructions{
  /*SET FONT, COLOR, FOR INSTRUCTIONS HERE*/
}
#main-frame-wrap{
  background-color:#569CD4;
  border-radius:3px;
  padding:10px;
}

html, body, #map-canvas{
  height: 100%; margin: 0; padding: 0;
}

/*standard styles*/
.max-width{
  max-width:1000px;
}
.no-pads{
  padding:0;
}
