@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);

html, body, #map-canvas{ 
  height: 100%; margin: 0; padding: 0;
}


.btn{
  height:80px;
  width:80px;
  text-align:center;
}

h1{
  text-align:center;
  font-family:'Oswald';
  font-weight:200;
  font-size:45pt;
  margin-bottom:30px;
}
.script{
  font-family:'Dancing Script';
  font-size:60pt;
  color:green;
}